.WindowsFormsApp1_Form1 {
    left: -1px;
    top: -1px;
}
.WindowsFormsApp1_Form1 .label1 {
    width: auto;
    left: 38px;
    top: 9px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.WindowsFormsApp1_Form1 .button1 {
    left: 33px;
    top: 88px;
    width: 75px;
    height: 23px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.WindowsFormsApp1_Form1 .textBox1 {
    left: 23px;
    top: 44px;
    width: 100px;
    height: 23px;
    position: absolute;
}
.WindowsFormsApp1_Form1 .label2 {
    width: auto;
    left: 52px;
    top: 138px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
